<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Background<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="background.html">Background</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Terminology Artifacts<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="concepts.html">Concepts and Codes</a>
      </li>
      <li>
        <a href="codesystems.html">Code Systems</a>
      </li>
	  <li>
        <a href="valuesets.html">Value Sets</a>
      </li>
	  <li>
        <a href="identifiersystems.html">Identifier Systems</a>
      </li>
	  <li>
        <a href="conceptdomains.html">Concept Domains</a>
      </li>
      <li>
        <a href="terminologymaps.html">Terminology Maps</a>
      </li>
	  <li>
        <a href="terminologyidentifiers.html">Terminology Identifiers</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Characteristics of a Value Set Definition<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="vsdoverview.html">Value Set Definition Overview</a>
      </li>
	  <li>
        <a href="valuesetdefinition.html">Value Set Definition Specification</a>
      </li>
	  <li>
        <a href="cld.html">Content Logical Definition</a>
      </li>
	  <li>
        <a href="expressionsyntax.html">HL7 Value Set Definition Expression Syntax</a>
      </li>
	  <li>
        <a href="vsdconsiderations.html">Implementation Considerations</a>
      </li>
	  <li>
        <a href="otherstandards.html">Relationships to Other HL7 Standards</a>
      </li>
	  <li>
        <a href="vsdexamples.html">Examples</a>
      </li>
    </ul>
  </li>
  <li><a href="artifacts.html">Artifact Index</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Support<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="downloads.html">Downloads</a>
      </li>
    </ul>
  </li>
</ul>      
